{% extends 'base.html' %}

{% block content %}
  {% load static %}

<div class="container mt-5">
    <h2>{% if gender %}Products for {{ gender|title }}{% else %}All Products{% endif %}</h2>
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            <div class="card mb-4">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static 'images/default_product.jpg' %}" class="card-img-top" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}